@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --greenPrimary: #206c3c;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.greenButton {
  background-color: var(--greenPrimary);
  transition: all 0.3s;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.greenButton:hover {
  background-color: #1a5d2c;
}

.nocolorButton {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.footer-header {
  font-size: 1.75rem;
  font-weight: 450;
}

.footer-header::after {
  content: '';
  display: block;
  width: 60%;
  height: 0.1rem;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Line clamp utilities */
.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
