@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --greenPrimary: #206c3c;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}

.greenButton {
  background-color: var(--greenPrimary);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.footer-header {
  font-size: 1.75rem;
  font-weight: 450;
}

.footer-header::after {
  content: '';
  display: block;
  width: 60%;
  height: 0.1rem;
  background-color: rgba(0, 0, 0, 0.8);
}
